<!-- <div class="d-flex">
  <figure class="col-4">
    <img class="w-100 h-auto" src="https://picsum.photos/id/684/600/400" alt="">
  </figure>
  <article class="col-8 d-flex flex-column justify-content-between">
    <h3>titulo</h3>
    <p>texto</p>
    <div class="d-flex justify-content-between">
      <p>autor</p>
      <p>fecha</p>
    </div>
  </article>
</div>
 -->
<div class="container-fluid">
  <div class="card mt-3" *ngFor="let post of posts; let indice = index">
    <div class="card-body bg-light px-0 pt-0">
      <div class="w-100 mx-auto mb-5 position-relative">
        <div class="autor position-absolute text-right">
          <p>posted by: {{post.autor}}</p>
        </div>
        <div class="categoria">
          <p>{{post.categoria}}</p>
        </div>
        <img class="card-img-top" [src]="post.imagen" alt="">
      </div>
      <div class="px-5">
        <h3 class="">{{post.titulo}}</h3>
        <hr>
        <p class="py-3">{{post.texto}}</p>
      </div>
      <div class="d-flex justify-content-between px-5">
        <div class="autor">
          <p>posted on: {{post.fecha | date:"EEEE , dd LLLL yy" }}</p>
        </div>
        <button (click)="deletePost(indice)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </div>

</div>
