<div class="container-fluid">
  <div class="row p-5">
    <div class="col-12 col-md-8">
      <app-post [posts]="allPosts"></app-post>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <ul class="list-group" id="categoria" #categorias>
        <!-- <li class="list-group-item" *ngFor="let categoria of categorias">
          <i class="fas fa-laptop"></i> {{categoria}}
        </li> -->
        <h4 class="text-center list-group-item">FILTRO POR CATEGORIA</h4>
        <li (click)="filtroCategoria($event)" value="electronica" class="list-group-item d-flex"><i class="fas fa-laptop"></i>Electronica<span class="badge badge-secondary align-self-end">{{allPosts.length}}</span></li>
        <li (click)="filtroCategoria($event)" value="videojuegos" class="list-group-item"><i class="fab fa-playstation"></i>Videojuegos<span class="badge badge-secondary align-self-end">{{allPosts.length}}</span></li>
        <li (click)="filtroCategoria($event)" value="viajes" class="list-group-item"><i class="fas fa-suitcase-rolling"></i>Viajes<span class="badge badge-secondary align-self-end">{{allPosts.length}}</span></li>
        <li (click)="filtroCategoria($event)" value="general" class="list-group-item"><i class="fas fa-igloo"></i>General<span class="badge badge-secondary align-self-end">{{allPosts.length}}</span></li>
        <li (click)="filtroCategoria($event)" value="inversiones" class="list-group-item"><i class="fab fa-bitcoin"></i>Inversiones<span class="badge badge-secondary align-self-end">{{allPosts.length}}</span></li>
      </ul>
      <button [routerLink]="['/new']" routerLinkActive="router-link-active"  class="btn btn-secondary btn-block my-2">Añadir un nuevo post</button>
    </div>

  </div>
</div>

