<div class="container">
  <div class="row">
  <div class="col">
      <div class="card mt-2">
        <div class="card-header text-center">
          <h3>Añade tu post</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmitFormulario(form.value)">
            <div class="row">
              <div class="col-6">
                <label>Titulo</label>
                <input class="form-control form-control-sm" name="titulo" type="text" formControlName="titulo">
              </div>
                <div class="col-3">
                  <label>Autor</label>
                  <input class="form-control form-control-sm" name="autor" type="text" formControlName="autor">
                </div>
                <div class="col-3">
                  <label>Imagen</label>
                    <input class="form-control form-control-sm" name="imagen" type="text" formControlName="imagen">
                </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label>Texto</label>
                <textarea class="form-control form-control-sm" name="texto" type="text" formControlName="texto"></textarea>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col"><!--

                    <label>Fecha</label>
                    <input class="form-control form-control-sm" name="fecha" type="date" formControlName="fecha"> -->
                  </div>
                  <div class="col">
                  <label>Categoria</label>
                    <select class="form-control form-control-sm" name="categoria" formControlName="categoria">
                      <option value="general">General</option>
                      <option value="electronica">Electronica</option>
                      <option value="videojuegos">Videojuegos</option>
                      <option value="viajes">Viajes</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-dark" type="submit">Enviar</button>
          </form>
        </div>
      </div>
  </div>
</div>
</div>
